*, html
    margin: 0
    padding: 0
    font-family: "Open Sans", sans-serif
    scroll-behavior: smooth
    -webkit-tap-highlight-color: transparent

a
    text-decoration: none
    color: unset

body
    background-color: #f6f6f6
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E")
    position: relative
    padding-bottom: 300px
    &.darkbody
        background-color: #121212
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23181818' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%231d1d1d' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23181818' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%231d1d1d' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23222222' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23101010' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23141414' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23171717' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23141414' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23101010' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23171717' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23101010' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23171717' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23141414' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23171717' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E")
        header
            color: #ffffff
            &.active
                background: #222222
        footer
            background: #222222
            color: #ffffff  
        #navpanel
            color: #ffffff
        #section-1
            background-color: #121212
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23121212' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23171717' href='%23s' y='2'/%3E%3Cuse fill='%23171717' href='%23s' x='1' y='2'/%3E%3Cuse fill='%231b1b1b' href='%23s' x='2' y='2'/%3E%3Cuse fill='%231b1b1b' href='%23s'/%3E%3Cuse fill='%23202020' href='%23s' x='2'/%3E%3Cuse fill='%23202020' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23252525'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23252525'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%232a2a2a'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23121212'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%232e2e2e'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23222222'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E")
            background-attachment: fixed
            background-size: cover
            color: #ffffff
            h1
                color: #ffffff
        #section-2
            .block
                color: #ffffff
                background: #222222
                &.selected
                    background-color: #5d658d
            h2
                color: #ffffff
        #section-3
            figure
                color: #ffffff
                background: #222222
            h3
                color: #ffffff
            h1
                color: #ffffff
                text-align: center
                font-size: 3em
        #cart
            background: #222222
            h2
                color: #ffffff
            #cart-field
                background: #121212
                color: #ffffff
                h3
                    color: #ffffff
                figure
                    background: #222222


h1, h2, h3, h4, h5, h6
    font-family: "Open Sans", sans-serif
    font-weight: 100
    color:#2e2e33


header
    width: 100%
    position: fixed
    left: 0
    top: 0
    box-sizing: border-box
    padding: 15px 15vw
    user-select: none
    z-index: 1
    color: #ffffff
    #mobile-navbar
        ul
            display: flex
            list-style: none
            li
                &:last-child
                    margin-right: 0
        @media screen and ( min-width: 768px )
            display: none
            
    &.active
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1)
        transition: 0.3s
        background: #ffffff
        color: #000000
        figure
            background: #396afc
            background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
            background: linear-gradient(to right, #b162e2, #396afc)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
    @media screen and ( max-width: 768px )
        padding: 15px 7vw
    nav
        display: flex
        justify-content: space-between
        align-items: center
        #cartbtn
            text-shadow: 0px 0px 5px rgba(0,0,0,0.15)
            @media screen and ( min-width: 768px )
                display: none
        figure
            font-size: 1.3em
            font-weight: bold
        ul
            .opencart
                position: relative
                span
                    background: #396afc
                    position: absolute
                    right: -10px
                    top: -10px
                    border-radius: 50%
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25)
                    padding: 3px
                    height: 10px
                    width: 10px
                    font-size: 7px
                    font-weight: bold
                    text-align: center
                    color: #ffffff
            display: flex
            list-style: none
            i
                margin-right: 7px
            @media screen and ( max-width: 768px )
                display: none
            li
                margin-right: 30px
                cursor: pointer
                &#cartbtn
                    display: block

#section-1
    background-color: #c86fff
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23c86fff' width='11' height='11'/%3E%3Crect fill='%23c46efd' x='10' width='11' height='11'/%3E%3Crect fill='%23c16dfa' y='10' width='11' height='11'/%3E%3Crect fill='%23bd6cf8' x='20' width='11' height='11'/%3E%3Crect fill='%23ba6bf6' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23b66af3' y='20' width='11' height='11'/%3E%3Crect fill='%23b369f1' x='30' width='11' height='11'/%3E%3Crect fill='%23af68ef' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23ac67ec' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23a866ea' y='30' width='11' height='11'/%3E%3Crect fill='%23a565e7' x='40' width='11' height='11'/%3E%3Crect fill='%23a264e5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%239e63e3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%239b62e0' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%239861de' y='40' width='11' height='11'/%3E%3Crect fill='%239460db' x='50' width='11' height='11'/%3E%3Crect fill='%23915fd9' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%238e5ed6' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%238a5dd4' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23875cd1' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23845bcf' y='50' width='11' height='11'/%3E%3Crect fill='%23815acc' x='60' width='11' height='11'/%3E%3Crect fill='%237e59ca' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%237b57c7' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%237756c5' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%237455c2' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%237154c0' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%236e53bd' x='70' width='11' height='11'/%3E%3Crect fill='%236b52ba' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%236851b8' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%236550b5' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23624eb3' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%235f4db0' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%235c4cae' x='80' width='11' height='11'/%3E%3Crect fill='%235a4bab' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%23574aa8' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%235448a6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%235147a3' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%234e46a0' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%234c459e' x='90' width='11' height='11'/%3E%3Crect fill='%2349449b' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%23464299' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%23434196' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%23414093' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%233e3f91' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%233b3e8e' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%23393c8b' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%23363b89' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%23343a86' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%23313983' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%232f3781' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%232c367e' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2329357b' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%23273479' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%23243276' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%23223174' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%231f3071' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%231d2f6e' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%231b2d6c' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%23182c69' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E")
    background-attachment: fixed
    background-size: cover
    color: #ffffff
    background-size: cover
    padding: 15px 15vw
    box-sizing: border-box
    height: 100vh
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05)
    user-select: none
    position: relative
    .container
        position: absolute
        display: flex
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        width: 100vw
        .text:first-child
            margin-left: 15vw
            width: 40%
            text-align: left

        .text:last-child
            padding: 15px
            background: rgba(0,0,0,0.7)
            border-radius: 5px 5px 5px 20%
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.15)
            text-align: right
            top: 50%
            right: 15vw
            position: absolute
            transform: translate(0, -50%)

    @media screen and ( max-width: 768px )
        padding: 15px 7vw
        height: auto
        min-height: 100vh
        .container
            margin-top: 100px
            position: static
            transform: none !important
            flex-direction: column
            width: 100%
            @media screen and ( min-height: 650px)
                transform: translate(-50%, -50%) !important
                width: 90vw
                left: 50%
                top: 50%
                position: absolute
                margin-top: 0
            .text
                width: auto !important
                margin: 0 !important
                position: static !important
                transform: none !important
                &:first-child
                    margin-bottom: 15px !important
                &:last-child
                    border-radius: 5px
        
    h1
        font-size: 2.5em
        margin-bottom: 15px
        color: #ffffff
        @media screen and ( max-width: 768px )
            font-size: 2em
            text-align: left
            
                
    #description
        display: flex
        @media screen and (max-width: 768px)
            flex-direction: column
        .description-block
            padding: 7px 15px
            transition: 0.3s
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15)
            border-radius: 30px
            margin-right: 10px 
            margin-top: -40px
            color: #ffffff
            cursor: pointer 
            @media screen and ( max-width: 768px)
                width: 100%
                box-sizing: border-box
                padding: 15px 15px
                border-radius: 15px
                margin-bottom: 15px
            &:first-child
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
                background: linear-gradient(to right, #b162e2, #396afc)
                
            &:nth-child(2)
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
                background: linear-gradient(to right, #b162e2, #396afc)

            &:nth-child(3)
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
                background: linear-gradient(to right, #b162e2, #396afc)


.langselected
    display: none
    box-shadow: none !important
    opacity: 0.7 !important
    box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.5) !important
    transition: 0.3s

#section-2
    padding: 15px 15vw
    padding-top: 30px
    @media screen and (max-width: 768px)
        padding: 15px 7vw
        
    #description
        display: flex
        margin-bottom: 15px
        user-select: none
        @media screen and (max-width: 768px)
            flex-direction: column
        .description-block
            padding: 7px 15px
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1)
            border-radius: 7px
            margin-right: 10px 
            transition: 0.3s
            color: #ffffff
            display: block
            cursor: pointer
            img
                margin-right: 5px
            @media screen and ( max-width: 768px)
                width: 100%
                box-sizing: border-box
                padding: 15px 15px
                border-radius: 15px
                margin-bottom: 15px
            &:first-child
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#814fd6))
                background: linear-gradient(to right,#b162e2, #814fd6)
                
            &:nth-child(2)
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from( #814fd6), to(#396afc))
                background: linear-gradient(to right, #b162e2, #396afc)

            &:nth-child(3)
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#396afc), to(#396afc))
                background: linear-gradient(to right, #396afc, #396afc)
    
    .figure-header
        margin-bottom: 30px
        user-select: none
    figure
        .block
            position: relative
            transition: 0.3s
            user-select: none
            cursor: pointer
            &:active
                transform: scale(1.05)
                transition: 0.3s
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15)
            &.blocked
                opacity: 0.5
                box-shadow: none
                transition: 0.3s
            &.selected
                box-shadow: 0px 0px 10px 5px rgba(0, 74, 245, 0.15)
                background: #9aabff
                opacity: 1 !important
            img
                width: 100%
                height: 200px
                object-fit: cover
                border-radius: 10px
                filter: brightness(0.9)
    figure
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        @media screen and (max-width: 768px)
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
            
        grid-gap: 25px
        margin-bottom: 30px
        .block
            background-color: #ffffff
            border-radius: 15px
            padding: 15px 
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05)
            @media screen and (min-width: 768px)
                max-width: 317px

#section-3
    padding: 0 15vw
    padding-bottom: 15px
    @media screen and (max-width: 768px)
        padding: 15px 7vw
    h3
        margin-bottom: 15px
    h1
        margin-bottom: 15px
    .r-place
        margin-bottom: 15px
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
        @media screen and (max-width: 768px)
            grid-template-columns: repeat(auto-fit, minmax(100%, 1fr))
        grid-gap: 25px
    figure
        background-color: #ffffff
        border-radius: 15px
        padding: 15px 
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05)
        @media screen and (min-width: 768px)
            max-width: 317px
        
    



#darkscreen
    will-change: opacity
    position: fixed
    left: 0    
    top: 0
    height: 100vh
    width: 100vw
    background-color: #000000
    z-index: 2
    opacity: 0
    pointer-events: none
    transition: 0.3s
    &.active
        opacity: 0.3
        pointer-events: auto
        transition: 0.3s


#navpanel
    position: fixed
    left: 15px
    top: 50%
    transform: translateY(-50%) translateX(-10px) scale(0.9)
    padding: 15px
    border-radius: 30px
    box-shadow: none
    opacity: 0
    transition: 0.3s
    @media screen and ( max-width: 768px )
        display: none
    &.active
        ul
            li
                pointer-events: auto
    ul
        list-style: none
        user-select: none
        li  
            margin-bottom: 15px
            transition: 0.3s
            transform: translateX(-7px) 
            cursor: pointer
            pointer-events: none
            position: relative
            &:last-child
                margin-bottom: 0
            &.active
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
                background: linear-gradient(to right, #b162e2, #396afc)
                -webkit-background-clip: text
                -webkit-text-fill-color: transparent
                transition: 0.3s
                transform: translateX(0)
                pointer-events: auto
                &:before
                    content: ""
                    position: absolute
                    width: 5px
                    height: 5px
                    background: #b162e2
                    border-radius: 50%
                    left: -10px
                    top: 50%
                    transform: translateY(-50%)

    &.active
        opacity: 1
        transition: 0.3s
        transform: translateY(-50%) translateX(0) scale(1)

footer
    width: 100%
    position: absolute
    left: 0
    bottom: 0
    box-sizing: border-box
    padding: 15px 15vw
    user-select: none
    background: #ffffff
    z-index: 1
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1)
    @media screen and ( max-width: 768px )
        padding: 15px 7vw
    nav
        display: flex
        justify-content: space-between
        align-items: center
        #cartbtn
            text-shadow: 0px 0px 5px rgba(0,0,0,0.15)
            @media screen and ( min-width: 768px )
                display: none
        figure
            font-weight: bold
            background: #396afc
            background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
            background: linear-gradient(to right, #b162e2, #396afc)
            -webkit-background-clip: text
            -webkit-text-fill-color: transparent
            font-size: 1.3em
        ul
            .opencart
                position: relative
                span
                    background: #396afc
                    position: absolute
                    right: -10px
                    top: -10px
                    border-radius: 50%
                    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25)
                    padding: 3px
                    height: 10px
                    width: 10px
                    font-size: 7px
                    font-weight: bold
                    text-align: center
                    color: #ffffff
            display: flex
            list-style: none
            i
                margin-right: 7px
            li
                margin-right: 0
                cursor: pointer
                &#cartbtn
                    display: block



#cart
    will-change: transform, opacity
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%) scale(0.8) skewX(3deg) skewY(3deg)
    transform: 
    height: 80vh
    border-radius: 15px
    width: 60vw
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05)
    background: #ffffff
    padding: 15px
    box-sizing: border-box
    transition: 0.3s
    z-index: 3
    opacity: 0
    pointer-events: none
    #cart-field
        border-radius: 15px
        padding: 15px
        background: #f0f0f0
        overflow-y: scroll
        height: 75%
        box-shadow: inset 0px 0px 15px 0px rgba(0,0,0,0.15)
        figure
            background: #ffffff
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1)
            border-radius: 15px
            padding: 7px
            width: fit-content
            will-change: transform, opacity
    img
        width: 30px
        display: flex
    h3
        display: flex
        margin-bottom: 10px
        margin-top: 10px
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0
    #closecartbtn
        position: fixed
        top: 20px
        right: 20px
        cursor: pointer
        color: #fc7268
        font-size: 1.2em
    #cart-header
        font-size: 3em
    @media screen and ( max-width: 768px )
        width: 100vw
        height: 100%
        border-radius: 0
    &.active-cart
        transition: 0.3s
        opacity: 1
        pointer-events: auto
        transform: translate(-50%, -50%) scale(1) skewX(0) skewY(0)
    #cart-btns
        display: flex
        justify-content: space-between
        position: absolute
        bottom: 15px
        width: 90%
        box-sizing: border-box
        @media screen and ( max-width: 768px )
            #generate
                position: absolute
                left: 50%
                bottom: 15px
                transform: translateX(-50%)
                user-select: none
                width: 90%
                user-select: none
                display: block
                text-align: center
                box-sizing: border-box
                color: #ffffff
                padding: 10px 15px
                box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1)
                background: #396afc
                background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
                background: linear-gradient(to right, #b162e2, #396afc)
    #generate
        position: absolute
        left: 50%
        bottom: 0
        transform: translateX(-50%)
        user-select: none
        width: 130px
        text-align: center
        box-sizing: border-box
        color: #ffffff
        padding: 7px 15px
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        background: #396afc
        background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
        background: linear-gradient(to right, #b162e2, #396afc)
    #closecart
        background-color: red
        user-select: none
        width: 30%
        text-align: center
        box-sizing: border-box
        color: #ffffff
        padding: 7px 15px
        box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1)
        border-radius: 30px


#alert
    position: fixed
    font-weight: 100
    bottom: -50px
    opacity: 0
    transition: 0.3s
    left: 50%
    transform: translateX(-50%)
    border-radius: 15px
    background-color: rgba(76, 76, 76, 0.9)
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15)
    color: white
    width: 30%
    padding: 15px
    box-sizing: border-box
    z-index: 5
    p
        transition: 0.3s
        animation: alertBlockText 0.3s linear
        @keyframes alertBlockText
            0%
                opacity: 0
            100%
                opacity: 1
    &.active
        opacity: 1
        bottom: 15px
        transition: 0.3s
    @media screen and (max-width: 768px)
        width: 95%
        

#checkmysterious
    background: #396afc
    background: -webkit-gradient(linear, left top, right top, from(#b162e2), to(#396afc))
    background: linear-gradient(to right, #b162e2, #396afc)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    font-size: 16px

::-webkit-scrollbar
    width: 0px
    background-color: #cecece

::-webkit-scrollbar-thumb
    background-color: #7c7c7c