*, html
    margin: 0
    padding: 0
    
header
    width: 100%
    position: fixed
    left: 0
    top: 0
    box-sizing: border-box
    padding: 2vh 15vw
    nav
        display: flex
        justify-content: space-between
        align-items: center
        ul
            display: flex
            list-style: none
            li
                margin-left: 15px
