*, html {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body {
  background: #f6f6f6;
  padding-top: 53px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #2e2e33;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 15vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-bottom: 1px solid #e3e4e6;
  background: #ffffff;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header nav ul li {
  margin-left: 15px;
}

#section-1 {
  background: #ffffff;
  border-bottom: 1px solid #e3e4e6;
  padding: 15px 15vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#section-1 h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

#section-1 p {
  margin-bottom: 15px;
}

#section-1 #description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  #section-1 #description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#section-1 #description .description-block {
  padding: 7px 15px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  margin-right: 10px;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  #section-1 #description .description-block {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 15px 15px;
    border-radius: 15px;
    margin-bottom: 15px;
  }
}

#section-1 #description .description-block:first-child {
  background: #E44D26;
  background: -webkit-gradient(linear, left top, right top, from(#f5af19), to(#f58b19));
  background: linear-gradient(to right, #f5af19, #f58b19);
}

#section-1 #description .description-block:nth-child(2) {
  background: #f12711;
  background: -webkit-gradient(linear, left top, right top, from(#f58b19), to(#f12711));
  background: linear-gradient(to right, #f58b19, #f12711);
}

#section-1 #description .description-block:nth-child(3) {
  background: #f85032;
  background: -webkit-gradient(linear, left top, right top, from(#f12711), to(#f85032));
  background: linear-gradient(to right, #f12711, #f85032);
}

#section-2 {
  padding: 15px 15vw;
  padding-top: 30px;
}

#section-2 .figure-header {
  margin-bottom: 30px;
}

#section-2 figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 25px;
  margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
  #section-2 figure {
    -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

#section-2 figure .block {
  background-color: #ffffff;
  border-radius: 25px;
  padding: 15px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
  height: 200px;
}
/*# sourceMappingURL=style.css.map */